body {
    background-color: #f8f9fa;
}

h1 {
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-weight: bold;
}

.img {
    max-width: 100% !important;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
}

@media (max-width: 576px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .card {
        margin-bottom: 20px;
    }
}