{% extends 'base.html' %}

{% block title %}Vos moulins à épices{% endblock %}

{% block content %}
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-3">
        <h1 class="text-center text-sm-left w-100 w-sm-auto">Vos moulins à épices</h1>
        <a href="{{ url_for('ajouter_moulin') }}" class="btn btn-primary mt-2 mt-sm-0 w-100 w-sm-auto">Ajouter un Moulin</a>
    </div>

    <form method="post" class="form-inline mb-3">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.type_moulin.label(class="mr-2") }}
            {{ form.type_moulin(class="form-control mr-3") }}
        </div>
        <div class="form-group">
            {{ form.tri.label(class="mr-2") }}
            {{ form.tri(class="form-control mr-3") }}
        </div>
        {{ form.submit(class="btn btn-secondary") }}
    </form>

    <div class="row">
        {% for moulin in moulins %}
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card mb-4">
                    {% if moulin.photo %}
                        <img class="card-img-top d-block mx-auto img-fluid moulin-photo" src="{{ url_for('static', filename=moulin.photo) }}" alt="{{ moulin.modele }}">
                    {% else %}
                        <img class="card-img-top d-block mx-auto img-fluid moulin-photo" src="{{ url_for('static', filename='images/default.png') }}" alt="Image par défaut">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ moulin.marque }} - {{ moulin.modele }}</h5>
                        <p class="card-text"><strong>Taille (cm) :</strong> {{ moulin.taille }}</p>
                        <p class="card-text"><strong>Couleur :</strong> {{ moulin.couleur }}</p>
                        <p class="card-text"><strong>Origine :</strong> {{ moulin.origine }}</p>
                        <p class="card-text"><strong>Type :</strong> {{ moulin.type_moulin.capitalize() }}</p>

                        <hr>
                        {% if moulin.poivre %}
                            <h6>Informations sur l'épice :</h6>
                            <p class="card-text"><strong>Nom :</strong> {{ moulin.poivre.nom }}</p>
                            <p class="card-text"><strong>Description :</strong> {{ moulin.poivre.description }}</p>
                            <p class="card-text"><strong>Pays d'origine :</strong> {{ moulin.poivre.pays_origine }}</p>
                            <p class="card-text"><strong>Intensité :</strong> {{ moulin.poivre.intensite }}</p>
                            <p class="card-text"><strong>Utilisations :</strong> {{ moulin.poivre.utilisations }}</p>
                        {% else %}
                            <p class="card-text">Aucune épice associée à ce moulin.</p>
                        {% endif %}
                        <a href="{{ url_for('editer_moulin', id=moulin.id) }}" class="btn btn-secondary d-block mx-auto">Éditer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <style>
        @media (max-width: 575.98px) {
            .moulin-photo {
                width: 100px;
                height: auto;
            }
            h1 {
                font-size: 1.5rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        @media (min-width: 576px) {
            .moulin-photo {
                width: 150px;
                height: auto;
            }
        }
    </style>
{% endblock %}